.customContainer {    
    position: relative;
 }
 .tag {
    float: right;
    position: absolute;
    left: 80%;
    top: -11px;
    z-index: 1000;
    background-color: #CE1212;
    padding: 10px;
    color: #FFFFFF;
    font-weight: bold;
    
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 93% 100%, 0 6%);
 }
 .tag p{
    -ms-transform: rotate(47deg); /* IE 9 */
    transform: rotate(47deg); 
    padding-bottom: 10px;
    font-size:0.90rem;
 }




 @media (min-width: 992px) and (max-width: 1199.98px)  {
    .tag{
        top: -1px;
        left: 67%;
      }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) { 
       .tag{
        top: -10px;
        left: 76%;
      }
   }
   @media (min-width: 576px) and (max-width: 767.98px){ 
    .tag{
        top: -20px;
        left: 92%;
      }
   }
   @media (max-width: 575.98px)  { 
    .tag{
        top: -14px;
        left: 85%;
      }
   }