.customList ul{
    position:relative;
    }
    .customList ul li{
        list-style:none;
        padding:10px
    }
    .customList ul li span{
        width:"20px";
        height:"20px";
        text-align:"center";
        display:"inline-block";
        margin-left: 10%;
        float:right;
        font-size:"12px";
        font-weight:"600"
    }
   