.customCardStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 22% 7%;
  border: none;
  
}
/* @media (min-width: 992px) and (max-width: 1199.98px)  {
    .customCardStyle {
     
       
        height: 270px;
        padding: 15% 3%;
      }
} */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .customCardStyle {
     
        height: 270px;
        padding: 15% 3%;
      }
 }
 @media (min-width: 576px) and (max-width: 767.98px){ 
    .customCardStyle {
     
        height: 250px;
        padding: 20% 3%;
      }
 }
 @media (max-width: 575.98px)  { 
    .customCardStyle {
        height: 250px;
        padding: 20% 3%;
      }
 }